.background{
  background-color: rgb(43, 52, 101);
  height: 100vh;
}
.align{
  text-align: center; 
}
.round{
  border-radius: 15px;
}
.padding_top {
  padding-top: 20px;
}
.text_white {
  color: white;
}
.font{
  font-family: 'Ubuntu', sans-serif;
}
a {
  color: white; 
}
a:hover {
  color: yellow; 
}
title{ 
  color: red; 
  -webkit-text-stroke: 2px white;
  text-align: center;
  font-size: 150%;
  padding-top: 20px;
}
h1 {
  color: red; 
  -webkit-text-stroke: 2px white;
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
}
h2{
  margin-bottom: 5px;
}
.body{
  background-color: #ffffff;     
  padding: 20px 20px 20px 20px;               
  margin-left: 520px;          
  border: 3px solid #888;        
  font-size: 16px;               
  color: black;                   
  width: 400px;                  
  height: 430px;                 
}
.login_height{
  height: 150px;
}
.button-row {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  margin-top: 20px;
}

.btn {
  width: 80px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.signup {
  background-color: palegreen;
}
.cancel {
  background-color: rgb(255, 76, 76);
}

.wrapper {
  width: 1020px;
  margin: 0 auto; 
}

header {
  position: relative;
  overflow: hidden;
  height: 100px;
  background-color:rgb(43, 52, 101);
  color: white;
}

.slide-header {
  position: absolute;
  white-space: nowrap;
  animation: slideIn 2s linear forwards;
}
@keyframes slideIn {
  0% {
      left: 1020px; 
  }
  100% {
      left: 20px; 
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center; 
  flex-wrap: wrap;
  background-color: rgb(43, 52, 101);
  padding: 10px;
  margin-top: 55px; 
  margin-bottom: 7px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column; 
}

.movie-recomm{
  margin-top: 20px;
}
.site-description {
  display: flex;
  flex-direction: column; 
  margin-top: 30px;
}

.movies-grid {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  padding: 15px; 
  margin: 15px;  
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 13px; 
}

.movie-card img {
  width: 200px;
}


.image-container {
  width: 150px;
  height: 200px;
  position: relative;
  overflow: hidden;
  transition: transform 2s;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  pointer-events: none;
}

.movie-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.5s; 

  background-color: rgba(0, 0, 0, 0.5); 
  padding: 4px 6px; 
}
.movie-overview {
  font-size: 14px;
  line-height: 1.5;
  max-height: 80%;          
  overflow-y: auto;          
  padding: 10px;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;

  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  overflow-y: auto;
}


.image-container:hover .movie-overlay{
  opacity: 1; 
}

.divider {
  border: none;
  height: 1px; 
  background-color: navy; 
  width:90%;
}




@media (min-width: 801px) {
  nav {
    justify-content: flex-start;
  }

  .movies-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  nav {
    justify-content: center;
  }
  .movies-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .movie-card {
    width: 45%; 
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}